# Import the csv files and upload to GCP PostgreSQL server

## Connect to the database and query

Load libraries

In [12]:
import pandas as pd
import os
from sqlalchemy import create_engine

Create connection to database

Try to write to postgresql

In [16]:
DB_STRING = "postgresql://postgres:TitftfoCSP22!@34.159.244.120:5432/capstone"
#DB_STRING = "postgresql://postgres:TitftfoCSP22!@test-project-343314:europe-west3:capstone-2022/postgres"

db = create_engine(DB_STRING)

Read the file and upload it to the SQL server

In [32]:
df = pd.read_csv("../data/raw/data_Q1_2020/2020-01-01.csv")
df.to_sql('2021', con=db, schema='public', index=False, if_exists='append')

955

In [34]:
df2 = pd.read_sql('SELECT DISTINCT date FROM public."2021"', db)
df2

          date
0   2021-10-12
1   2021-10-10
2   2021-10-08
3   2021-10-02
4   2021-10-31
5   2021-10-06
6   2021-10-11
7   2020-01-01
8   2021-10-03
9   2021-10-04
10  2021-10-13
11  2021-10-07
12  2021-10-01
13  2021-10-09
14  2021-10-05