# Import the csv files and upload to GCP PostgreSQL server

## Connect to the database and query

Load libraries

In [8]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

Create connection to database

Try to write to postgresql

In [11]:
load_dotenv("../.env")
DB_STRING = os.getenv('DB_STRING')

db = create_engine(DB_STRING)

Read the file and upload it to the SQL server

In [6]:
filenames = os.listdir("../data/raw/data_Q1_2020/")

In [14]:
for file in filenames:
    print("Uploading file:", file)
    df = pd.read_csv("../data/raw/data_Q1_2020/2020-01-01.csv")
    df.to_sql('2021', con=db, schema='public', index=False, if_exists='append')

Uploading file: 2020-02-12.csv
Uploading file: 2020-02-06.csv
Uploading file: 2020-02-07.csv
Uploading file: 2020-02-13.csv
Uploading file: 2020-02-05.csv
Uploading file: 2020-02-11.csv
Uploading file: 2020-02-10.csv
Uploading file: 2020-02-04.csv
Uploading file: 2020-02-28.csv
Uploading file: 2020-02-14.csv
Uploading file: 2020-02-15.csv
Uploading file: 2020-02-01.csv
Uploading file: 2020-02-29.csv
Uploading file: 2020-02-17.csv
Uploading file: 2020-02-03.csv
Uploading file: 2020-02-02.csv
Uploading file: 2020-02-16.csv
Uploading file: 2020-01-08.csv
Uploading file: 2020-01-20.csv
Uploading file: 2020-03-19.csv
Uploading file: 2020-03-25.csv
Uploading file: 2020-03-31.csv
Uploading file: 2020-03-30.csv
Uploading file: 2020-03-24.csv
Uploading file: 2020-03-18.csv
Uploading file: 2020-01-21.csv
Uploading file: 2020-01-09.csv
Uploading file: 2020-01-23.csv
Uploading file: 2020-03-26.csv
Uploading file: 2020-03-27.csv
Uploading file: 2020-01-22.csv
Uploading file: 2020-01-26.csv
Uploading file: 2020-03-23.csv
Uploading file: 2020-03-22.csv
Uploading file: 2020-01-27.csv
Uploading file: 2020-01-25.csv
Uploading file: 2020-01-31.csv
Uploading file: 2020-01-19.csv
Uploading file: 2020-03-20.csv
Uploading file: 2020-03-08.csv
Uploading file: 2020-03-09.csv
Uploading file: 2020-03-21.csv

In [12]:
df2 = pd.read_sql('SELECT DISTINCT date FROM public."2021"', db)
df2

          date
0   2021-10-15
1   2021-10-12
2   2021-10-10
3   2021-10-08
4   2021-10-02
5   2021-10-14
6   2021-10-31
7   2021-10-06
8   2021-10-11
9   2021-10-03
10  2021-10-04
11  2021-10-13
12  2021-10-07
13  2021-10-01
14  2021-10-09
15  2021-10-05
16  2021-10-16