# Import the csv files to a local sqlite3 database and connect to it

We use `sqlite3` which is preinstalled on mac (import doesn't work with PostgreSQL).
1. Navigate to the `data/raw` folder
2. Open `sqlite3` and create database: `sqlite3 drive_stats.db`
3. Create table: `.read create.sql`
4. Import data: `.read import_Q1_2021.sql`
5. Repeat for as many data as you want

## Connect to the database and query

Load libraries

In [1]:
import sqlite3
import pandas as pd

Create connection to database

In [7]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    return conn

filename_db = "../data/raw/drive_stats.db"
conn = create_connection(filename_db)

Example query

In [13]:
sql_query = "SELECT * FROM drive_stats"
df = pd.read_sql(sql_query, conn)

In [14]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2020-01-01,Z305B2QN,ST4000DM000,4000787030016,0,117,162984112,,,91,...,,,,,,,,,,
1,2020-01-01,ZJV0XJQ4,ST12000NM0007,12000138625024,0,75,31653264,,,91,...,,,,,,,,,,
2,2020-01-01,ZJV0XJQ3,ST12000NM0007,12000138625024,0,83,185532176,,,99,...,,,,,,,,,,
3,2020-01-01,ZJV0XJQ0,ST12000NM0007,12000138625024,0,83,178141640,,,93,...,,,,,,,,,,
4,2020-01-01,PL1331LAHG1S4H,HGST HMS5C4040ALE640,4000787030016,0,100,0,134,103,143,...,,,,,,,,,,